openapi: 3.1.0
info:
  title: API сервера MAX Together
  version: 1.0.0-mvp
  description: Контракт MVP для персонального поиска событий и их совместного выбора двумя участниками в MAX.
servers:
- url: https://worknet.team/api/v1
  description: Рабочий сервер
- url: http://localhost:8080/api/v1
  description: Локальный запуск
tags:
- name: System
- name: Auth
- name: Preferences
- name: Discovery
- name: Behavior
- name: Saved
- name: Rooms
- name: EventSources
security:
- bearerAuth: []
paths:
  /health/ready:
    get:
      tags:
      - System
      operationId: getReadiness
      security: []
      summary: Проверить готовность API принимать трафик
      responses:
        '200':
          description: Приложение и БД готовы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ready
                database: ready
                migrations: current
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /internal/analytics/dashboard:
    get:
      tags:
      - System
      operationId: getInternalAnalyticsDashboard
      security:
      - analyticsBasicAuth: []
      summary: Получить агрегированные метрики закрытого дашборда
      description: Доступ защищён Basic Auth на внешнем Nginx. Ответ содержит только сводные данные и ненадолго кэшируется приложением.
      parameters:
      - name: days
        in: query
        required: false
        description: Число дней в отчёте. Показатели качества каталога и некоторые защитные метрики отражают состояние на текущий момент.
        schema:
          type: integer
          enum: [7, 30, 90]
          default: 30
      responses:
        '200':
          description: Агрегированные метрики без идентификаторов пользователей и комнат
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                period_days: 30
                generated_at: '2026-09-27T12:00:00Z'
                daily: []
                summary: {}
                recommendations: []
                retention: []
                guardrails: {}
                providers: []
                api_performance: []
                catalog_quality: []
                vote_agreement: []
                pool_diversity: {}
                repeat_exposure: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          description: Ошибка чтения метрик
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Превышено время ожидания аналитического запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /internal/event-sources:
    get:
      tags: [EventSources]
      operationId: listInternalEventSources
      security: [{analyticsBasicAuth: []}]
      summary: Список встроенных и конфигурируемых источников
      responses:
        '200':
          description: Источники и состояние последней синхронизации
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items: {type: object, additionalProperties: true}
                required: [sources]
    post:
      tags: [EventSources]
      operationId: createInternalEventSource
      security: [{analyticsBasicAuth: []}]
      summary: Создать конфигурируемый источник
      description: Требуются заголовок Origin с адресом этого же сайта и заголовок X-Admin-Request со значением 1.
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/EventSourceInput'}
      responses:
        '201':
          description: Источник создан; секрет не возвращается
          content:
            application/json:
              schema: {$ref: '#/components/schemas/EventSourceResponse'}
        '400': {$ref: '#/components/responses/ValidationError'}
  /internal/event-sources/{id}/domains:
    parameters:
    - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
    get:
      tags: [EventSources]
      operationId: listInternalEventSourceDomains
      security: [{analyticsBasicAuth: []}]
      summary: Список разрешённых доменов для выбранного настраиваемого источника
      responses:
        '200':
          description: Список разрешений без URL и учётных данных
          content:
            application/json:
              schema:
                type: object
                required: [domains]
                properties:
                  domains: {type: array, items: {$ref: '#/components/schemas/EventSourceAllowedDomain'}}
        '404': {$ref: '#/components/responses/NotFound'}
    post:
      tags: [EventSources]
      operationId: approveInternalEventSourceDomain
      security: [{analyticsBasicAuth: []}]
      summary: Разрешить имя узла для изображения или билета
      description: 'Укажите только имя узла: без маски, URL и IP-адреса. Требуются заголовок Origin с адресом этого же сайта и X-Admin-Request: 1. Повторное разрешение не создаёт дубликат.'
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/EventSourceDomainInput'}
      responses:
        '200':
          description: Домен разрешён только для указанного источника и типа ресурса
          content:
            application/json:
              schema:
                type: object
                required: [domain]
                properties:
                  domain: {$ref: '#/components/schemas/EventSourceAllowedDomain'}
        '400': {$ref: '#/components/responses/ValidationError'}
        '404': {$ref: '#/components/responses/NotFound'}
  /internal/event-sources/{id}/domains/{domainId}:
    parameters:
    - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
    - {name: domainId, in: path, required: true, schema: {type: string, format: uuid}}
    delete:
      tags: [EventSources]
      operationId: revokeInternalEventSourceDomain
      security: [{analyticsBasicAuth: []}]
      summary: Отозвать разрешение, сохранив URL ресурса
      description: 'Следующий запрос к ресурсу будет заблокирован. Требуются заголовок Origin с адресом этого же сайта и X-Admin-Request: 1.'
      responses:
        '204': {description: Разрешение отозвано}
        '404': {$ref: '#/components/responses/NotFound'}
  /event-images/{imageId}/content:
    parameters:
    - {name: imageId, in: path, required: true, schema: {type: string, format: uuid}}
    get:
      tags: [Discovery]
      operationId: getGenericEventImageContent
      security: []
      summary: Получить изображение по сохранённому ID с проверкой разрешения источника
      description: 'Запрос не принимает внешний URL и параметры строки запроса. Сервер обращается к источнику по HTTPS, подключается только к публичным IP-адресам и не следует перенаправлениям. Заголовок Cache-Control: no-store позволяет сразу применять отзыв разрешения.'
      responses:
        '200':
          description: Проверенное растровое изображение (JPEG, PNG, WebP, GIF, AVIF)
          content:
            image/jpeg: {schema: {type: string, format: binary}}
            image/png: {schema: {type: string, format: binary}}
            image/webp: {schema: {type: string, format: binary}}
            image/gif: {schema: {type: string, format: binary}}
            image/avif: {schema: {type: string, format: binary}}
        '400': {$ref: '#/components/responses/ValidationError'}
        '403': {description: Имя узла ресурса не разрешено для этого источника и типа «image»}
        '404': {$ref: '#/components/responses/NotFound'}
        '502': {description: Изображение источника недоступно или не прошло проверку содержимого}
        '503': {$ref: '#/components/responses/ServiceUnavailable'}
  /events/{eventId}/ticket:
    parameters:
    - {name: eventId, in: path, required: true, schema: {type: string, format: uuid}}
    get:
      tags: [Discovery]
      operationId: redirectGenericEventTicket
      security: []
      summary: Открыть сохранённую ссылку на билет с повторной проверкой разрешения
      description: Запрос не принимает внешний URL и параметры строки запроса. При каждом переходе сервер проверяет HTTPS и наличие разрешения на ссылку для этого источника и типа «ticket».
      responses:
        '302':
          description: Разрешённый сохранённый адрес HTTPS
          headers:
            Location: {schema: {type: string, format: uri}}
        '400': {$ref: '#/components/responses/ValidationError'}
        '403': {description: Имя узла билетного сайта не разрешено}
        '404': {$ref: '#/components/responses/NotFound'}
        '503': {$ref: '#/components/responses/ServiceUnavailable'}
  /internal/event-sources/test:
    post:
      tags: [EventSources]
      operationId: testInternalEventSource
      security: [{analyticsBasicAuth: []}]
      summary: Проверить подключение и сопоставление полей без записи событий
      description: 'Требуются заголовок Origin с адресом этого же сайта и X-Admin-Request: 1. Если указан source_id, для проверки используется сохранённый секрет.'
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/EventSourceTestInput'}
      responses:
        '200':
          description: Статистика и ограниченный предпросмотр
          content:
            application/json:
              schema: {$ref: '#/components/schemas/EventSourcePreview'}
        '400': {$ref: '#/components/responses/ValidationError'}
  /internal/event-sources/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema: {type: string, format: uuid}
    get:
      tags: [EventSources]
      operationId: getInternalEventSource
      security: [{analyticsBasicAuth: []}]
      summary: Получить конфигурацию источника без секрета
      responses:
        '200':
          description: Конфигурация источника
          content:
            application/json:
              schema: {$ref: '#/components/schemas/EventSourceResponse'}
        '404': {$ref: '#/components/responses/NotFound'}
    patch:
      tags: [EventSources]
      operationId: updateInternalEventSource
      security: [{analyticsBasicAuth: []}]
      summary: Обновить настройки источника или выключить его
      description: 'Передаётся полная конфигурация. Если auth_secret пуст, прежний секрет сохраняется. Требуются заголовок Origin с адресом этого же сайта и X-Admin-Request: 1.'
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/EventSourceInput'}
      responses:
        '200':
          description: Источник обновлён
          content:
            application/json:
              schema: {$ref: '#/components/schemas/EventSourceResponse'}
        '400': {$ref: '#/components/responses/ValidationError'}
        '409': {$ref: '#/components/responses/Conflict'}
  /internal/event-sources/{id}/sync:
    parameters:
    - name: id
      in: path
      required: true
      schema: {type: string, format: uuid}
    post:
      tags: [EventSources]
      operationId: syncInternalEventSource
      security: [{analyticsBasicAuth: []}]
      summary: Запустить ручной импорт с добавлением и обновлением записей
      description: 'Импорт не удаляет записи. Требуются заголовок Origin с адресом этого же сайта и X-Admin-Request: 1. Если импорт этого источника уже выполняется, повторный запуск вернёт 409.'
      responses:
        '202':
          description: Импорт запущен
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, enum: [started]}
                required: [status]
        '409': {$ref: '#/components/responses/Conflict'}
  /auth/max/bootstrap:
    post:
      tags:
      - Auth
      operationId: bootstrapMaxSession
      security: []
      summary: Проверить initData MAX и открыть сессию пользователя
      description: Создаёт пользователя или обновляет его данные. Сервер проверяет подпись initData MAX и извлекает доверенный start_param только из проверенной строки. Значение event_<uuid> возвращается в shared_event_id; остальные значения используются для заполнения invite_context. Отдельное поле start_param необязательно и сверяется со значением из подписанных initData. Не сохраняйте исходные initData.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootstrapRequest'
            example:
              init_data: query_id=...&user=...&auth_date=...&hash=...
              start_param: AB24
      responses:
        '200':
          description: Сессия создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootstrapResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/RateLimited'
  /me/preferences:
    put:
      tags:
      - Preferences
      operationId: replaceMyPreferences
      summary: Полностью сохранить постоянные предпочтения
      description: Этот метод завершает первоначальную настройку или сохраняет изменения профиля. Условия подбора в уже созданных комнатах не меняются.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferencesRequest'
            example:
              city_id: 11111111-1111-7111-8111-111111111111
              interest_slugs:
              - concerts
              - exhibitions
              - food
              budget_max_minor: 350000
              usual_day_types:
              - weekend
              usual_time_slots:
              - evening
      responses:
        '200':
          description: Текущая сохранённая версия профиля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferencesResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /me/notification-preferences:
    patch:
      tags:
      - Preferences
      operationId: updateMyNotificationPreferences
      summary: Изменить подписку на ежедневные уведомления
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPreferencesRequest'
      responses:
        '200':
          description: Текущее состояние подписки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferencesResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /feed/home:
    get:
      tags:
      - Discovery
      operationId: getHomeFeed
      summary: Получить все секции домашней ленты
      parameters:
      - $ref: '#/components/parameters/CityId'
      - name: lat
        in: query
        schema:
          type: number
          minimum: -90
          maximum: 90
        description: Необязательная координата для секции nearby. Передавайте её только вместе с lng и после согласия пользователя.
      - name: lng
        in: query
        schema:
          type: number
          minimum: -180
          maximum: 180
        description: Необязательная координата для секции nearby. Передавайте её только вместе с lat и после согласия пользователя.
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Лента, готовая к отображению
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeFeedResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /events/search:
    get:
      tags:
      - Discovery
      operationId: searchEvents
      summary: Найти события по тексту и фильтрам
      parameters:
      - name: q
        in: query
        schema:
          type: string
          maxLength: 120
        description: Поиск по названию, описанию, площадке и жанру; поддерживаются близкие написания
      - name: include_total
        in: query
        schema:
          type: boolean
          default: true
        description: При false total_estimate возвращается как null
      - $ref: '#/components/parameters/CityId'
      - name: date_from
        in: query
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        schema:
          type: string
          format: date
      - name: day_types
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DayType'
        style: form
        explode: false
        description: Значения внутри массива объединяются по условию «ИЛИ»; с time_slots — по условию «И»
      - name: time_slots
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlot'
        style: form
        explode: false
      - name: category_slugs
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/CategorySlug'
        style: form
        explode: false
      - name: price_max_minor
        in: query
        schema:
          type: integer
          minimum: 0
      - name: distance_m
        in: query
        schema:
          type: integer
          minimum: 100
          maximum: 50000
        description: Требует одновременно lat и lng; без пары координат API возвращает VALIDATION_FAILED
      - name: lat
        in: query
        schema:
          type: number
          minimum: -90
          maximum: 90
      - name: lng
        in: query
        schema:
          type: number
          minimum: -180
          maximum: 180
      - name: free_only
        in: query
        schema:
          type: boolean
          default: false
      - name: west
        in: query
        schema: {type: number, minimum: -180, maximum: 180}
      - name: south
        in: query
        schema: {type: number, minimum: -90, maximum: 90}
      - name: east
        in: query
        schema: {type: number, minimum: -180, maximum: 180}
      - name: north
        in: query
        schema: {type: number, minimum: -90, maximum: 90}
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Страница результатов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSearchResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /events/search/count:
    get:
      tags: [Discovery]
      operationId: countSearchEvents
      summary: Подсчитать события по фильтрам поиска
      parameters:
      - name: q
        in: query
        schema: {type: string, maxLength: 120}
      - $ref: '#/components/parameters/CityId'
      - name: date_from
        in: query
        schema: {type: string, format: date}
      - name: date_to
        in: query
        schema: {type: string, format: date}
      - name: day_types
        in: query
        schema:
          type: array
          items: {$ref: '#/components/schemas/DayType'}
        style: form
        explode: false
      - name: time_slots
        in: query
        schema:
          type: array
          items: {$ref: '#/components/schemas/TimeSlot'}
        style: form
        explode: false
      - name: category_slugs
        in: query
        schema:
          type: array
          items: {$ref: '#/components/schemas/CategorySlug'}
        style: form
        explode: false
      - name: price_max_minor
        in: query
        schema: {type: integer, minimum: 0}
      - name: distance_m
        in: query
        schema: {type: integer, minimum: 100, maximum: 50000}
      - name: lat
        in: query
        schema: {type: number, minimum: -90, maximum: 90}
      - name: lng
        in: query
        schema: {type: number, minimum: -180, maximum: 180}
      - name: free_only
        in: query
        schema: {type: boolean, default: false}
      - name: west
        in: query
        schema: {type: number, minimum: -180, maximum: 180}
      - name: south
        in: query
        schema: {type: number, minimum: -90, maximum: 90}
      - name: east
        in: query
        schema: {type: number, minimum: -180, maximum: 180}
      - name: north
        in: query
        schema: {type: number, minimum: -90, maximum: 90}
      responses:
        '200':
          description: Точное количество подходящих событий
          content:
            application/json:
              schema: {$ref: '#/components/schemas/EventSearchCountResponse'}
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /events/map:
    get:
      tags: [Discovery]
      operationId: getEventMap
      summary: Получить события и кластеры для области карты
      parameters:
      - $ref: '#/components/parameters/CityId'
      - {name: west, in: query, required: true, schema: {type: number, minimum: -180, maximum: 180}}
      - {name: south, in: query, required: true, schema: {type: number, minimum: -90, maximum: 90}}
      - {name: east, in: query, required: true, schema: {type: number, minimum: -180, maximum: 180}}
      - {name: north, in: query, required: true, schema: {type: number, minimum: -90, maximum: 90}}
      - {name: zoom, in: query, required: true, schema: {type: integer, minimum: 0, maximum: 22}}
      - {name: q, in: query, schema: {type: string, maxLength: 120}}
      - {name: date_from, in: query, schema: {type: string, format: date}}
      - {name: date_to, in: query, schema: {type: string, format: date}}
      - {name: day_types, in: query, style: form, explode: false, schema: {type: array, items: {$ref: '#/components/schemas/DayType'}}}
      - {name: time_slots, in: query, style: form, explode: false, schema: {type: array, items: {$ref: '#/components/schemas/TimeSlot'}}}
      - {name: category_slugs, in: query, style: form, explode: false, schema: {type: array, items: {$ref: '#/components/schemas/CategorySlug'}}}
      - {name: price_max_minor, in: query, schema: {type: integer, minimum: 0}}
      - {name: distance_m, in: query, schema: {type: integer, minimum: 100, maximum: 50000}}
      - {name: lat, in: query, schema: {type: number, minimum: -90, maximum: 90}}
      - {name: lng, in: query, schema: {type: number, minimum: -180, maximum: 180}}
      - {name: free_only, in: query, schema: {type: boolean, default: false}}
      responses:
        '200':
          description: Карточки и кластеры событий для текущего окна карты
          content:
            application/json:
              schema: {$ref: '#/components/schemas/EventMapResponse'}
        '400': {$ref: '#/components/responses/ValidationError'}
        '401': {$ref: '#/components/responses/Unauthenticated'}
  /events/{eventId}:
    get:
      tags:
      - Discovery
      operationId: getEvent
      summary: Получить полную карточку события
      parameters:
      - $ref: '#/components/parameters/EventId'
      responses:
        '200':
          description: Детали события
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
  /behavior/events:batch:
    post:
      tags:
      - Behavior
      operationId: ingestBehaviorEvents
      summary: Принять набор сигналов для рекомендаций без повторной обработки дублей
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BehaviorBatchRequest'
      responses:
        '202':
          description: Пачка обработана или поставлена в очередь
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BehaviorBatchResponse'
              example:
                accepted: 8
                duplicates: 1
                rejected: 0
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/RateLimited'
  /me/saved-events/{eventId}:
    put:
      tags:
      - Saved
      operationId: setSavedEvent
      summary: Изменить состояние сохранения события
      parameters:
      - $ref: '#/components/parameters/EventId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - saved
              properties:
                saved:
                  type: boolean
            example:
              saved: true
      responses:
        '200':
          description: Итоговое состояние
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedStateResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
  /me/saved-events:
    get:
      tags:
      - Saved
      operationId: getMySavedEvents
      summary: Получить сохранённые события или события из совпадений
      parameters:
      - name: tab
        in: query
        schema:
          type: string
          enum:
          - saved
          - matches
          default: saved
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Страница карточек
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedEventsResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /events/{eventId}/ticket-click:
    post:
      tags:
      - Discovery
      operationId: recordTicketClick
      summary: Зафиксировать переход к билетам и получить безопасный URL
      parameters:
      - $ref: '#/components/parameters/EventId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketClickRequest'
            example:
              source: event_detail
              room_id: null
      responses:
        '200':
          description: Проверенная внешняя HTTPS-ссылка разрешённого билетного провайдера. Приложение открывает её через MAX Bridge.
            или браузер с безопасным режимом
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketClickResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /rooms:
    post:
      tags:
      - Rooms
      operationId: createRoom
      summary: Создать комнату для двух участников
      description: Если у пользователя уже есть комната в состоянии collecting, ranking или voting, сервер возвращает ACTIVE_ROOM_EXISTS. Если прежняя комната исчерпана, успешный POST атомарно закрывает её и создаёт новую. После этого возобновить старую комнату нельзя.
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequest'
            example:
              name: Куда идём в субботу?
              city_id: 11111111-1111-7111-8111-111111111111
      responses:
        '201':
          description: Комната, запись создателя среди участников и ссылка-приглашение. Чтобы снова получить ссылку, создатель может выполнить GET room.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoomResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
  /room-invites/{token}/join:
    post:
      tags:
      - Rooms
      operationId: joinRoomByInvite
      summary: Идемпотентно вступить в комнату вторым участником
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
          minLength: 16
          maxLength: 256
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Безопасный снимок состояния комнаты; он же возвращается при повторном вступлении.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomSnapshot'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Комната заполнена или срок её действия истёк, уже есть другая активная комната либо конфликтует ключ Idempotency-Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                full:
                  value:
                    error:
                      code: ROOM_FULL
                      message: Комната уже заполнена
                      request_id: 01K5ABC
                expired:
                  value:
                    error:
                      code: INVITE_EXPIRED
                      message: Срок приглашения истёк
                      request_id: 01K5ABC
                activeRoomExists:
                  value:
                    error:
                      code: ACTIVE_ROOM_EXISTS
                      message: Сначала завершите текущую активную комнату
                      request_id: 01K5ABC
                      details:
                        active_room:
                          id: 33333333-3333-7333-8333-333333333333
                          name: Суббота
                          city_id: 11111111-1111-7111-8111-111111111111
                          state: voting
      description: Повторное вступление в ту же комнату не создаёт дубликат. Если пользователь уже состоит в другой комнате в состоянии collecting_intents, ranking или voting, сервер возвращает ACTIVE_ROOM_EXISTS. Если предыдущая комната исчерпана, но ещё может быть возобновлена, успешный join атомарно закрывает её и присоединяет пользователя к новой комнате.
  /rooms/{roomId}:
    get:
      tags:
      - Rooms
      operationId: getRoom
      summary: Получить полное состояние комнаты для отображения и восстановления связи
      parameters:
      - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: Безопасный снимок состояния. Создатель получает invite, чтобы повторно поделиться приглашением; token и invite не видны остальным участникам.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomSnapshot'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
  /rooms/{roomId}/close:
    post:
      tags: [Rooms]
      operationId: closeRoom
      summary: Завершить комнату для обоих участников
      parameters:
      - $ref: '#/components/parameters/RoomId'
      responses:
        '200':
          description: Закрытая комната; повторный вызов идемпотентен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomSnapshot'
        '401': {$ref: '#/components/responses/Unauthenticated'}
        '404': {$ref: '#/components/responses/NotFound'}
  /rooms/{roomId}/close-notice/ack:
    post:
      tags: [Rooms]
      operationId: acknowledgeRoomCloseNotice
      summary: Подтвердить просмотр уведомления о закрытии комнаты
      parameters:
      - $ref: '#/components/parameters/RoomId'
      responses:
        '204': {description: Уведомление подтверждено или уже отсутствует}
        '401': {$ref: '#/components/responses/Unauthenticated'}
        '404': {$ref: '#/components/responses/NotFound'}
  /rooms/{roomId}/intent/me:
    put:
      tags:
      - Rooms
      operationId: replaceMyRoomIntent
      summary: Полностью заменить условия подбора текущего участника
      description: Когда оба участника сохранят условия, сервер начнёт формировать первый или обновлённый пул событий.
      parameters:
      - $ref: '#/components/parameters/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomIntentRequest'
            example:
              dates:
              - '2026-09-19'
              - '2026-09-20'
              day_types:
              - weekend
              time_slots:
              - evening
              category_slugs:
              - concerts
              - exhibitions
              budget_max_minor: 350000
              radius_m: 5000
              location:
                lat: 55.751244
                lng: 37.618423
              exclusion_slugs:
              - nightclubs
              - very_loud
              free_text: Хочется спокойное место с живой музыкой
      responses:
        '200':
          description: Условия сохранены; пул уже готов или второй участник ещё не сохранил свои условия.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomSnapshot'
        '202':
          description: Условия сохранены, пул формируется в фоновом режиме.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Рекомендуемый интервал повторного запроса в секундах.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomSnapshot'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: Условия не прошли проверку, например из-за даты в прошлом.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /rooms/{roomId}/events:
    get:
      tags:
      - Rooms
      operationId: getRoomEvents
      summary: Получить страницу активного неизменяемого пула событий
      parameters:
      - $ref: '#/components/parameters/RoomId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Порядок карточек одинаков для обоих участников.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomEventsResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Пул ещё не готов, устарел или исчерпан. Если один участник просмотрел все карточки, комната остаётся в состоянии voting.
            до завершения второго.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                poolNotReady:
                  summary: Оба участника ещё не сохранили условия или пул пока формируется
                  value:
                    error:
                      code: POOL_NOT_READY
                      message: Пул комнаты ещё не готов
                      request_id: req_01
                stalePoolVersion:
                  summary: Клиент использует предыдущую версию пула
                  value:
                    error:
                      code: STALE_POOL_VERSION
                      message: Версия пула устарела
                      request_id: req_02
                      details:
                        current_pool_version: 2
                poolExhausted:
                  summary: Текущий участник просмотрел все карточки раунда
                  value:
                    error:
                      code: POOL_EXHAUSTED
                      message: Карточки текущего раунда закончились
                      request_id: req_03
                      details:
                        my_pool_finished: true
                        room_exhausted: false
  /rooms/{roomId}/events/{eventId}/vote:
    put:
      tags:
      - Rooms
      operationId: voteForRoomEvent
      summary: Оценить событие и получить результат или совпадение
      parameters:
      - $ref: '#/components/parameters/RoomId'
      - $ref: '#/components/parameters/EventId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoteRequest'
            example:
              pool_version: 1
              vote: like
      responses:
        '200':
          description: Результат не раскрывает одиночный голос другого участника
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoteResponse'
              examples:
                next:
                  value:
                    accepted_vote: like
                    pool_version: 1
                    my_pool_finished: false
                    room_exhausted: false
                    match: null
                match:
                  value:
                    accepted_vote: like
                    pool_version: 1
                    my_pool_finished: false
                    room_exhausted: false
                    match:
                      id: 44444444-4444-7444-8444-444444444444
                      matched_at: '2026-09-15T19:00:00Z'
                      event:
                        id: 22222222-2222-7222-8222-222222222222
                        title: Джазовый вечер
                        category_slug: concerts
                        starts_at: '2026-09-19T16:30:00Z'
                        timezone: Europe/Moscow
                        date_label: 19 сентября, 19:30
                        venue_name: Оранжерея ВДНХ
                        price_from_minor: 180000
                        currency: RUB
                        price_label: от 1 800 ₽
                        image_url: https://cdn.example/event.jpg
                        saved: false
                        reasons: []
                      participants:
                      - id: 55555555-5555-4555-8555-555555555555
                        display_name: Анна
                        role: creator
                        intent_ready: true
                      - id: 66666666-6666-4666-8666-666666666666
                        display_name: Иван
                        role: participant
                        intent_ready: true
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque-session
      description: Случайный токен Bearer для сессии MAX, действующий 24 часа. На сервере хранится только его хеш.
    analyticsBasicAuth:
      type: http
      scheme: basic
      description: Basic Auth на внешнем Nginx. Метод сервера доступен только через защищённый маршрут прокси.
  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    EventId:
      name: eventId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CityId:
      name: city_id
      in: query
      required: false
      schema:
        type: string
        format: uuid
      description: Город каталога. Если параметр не передан, сервер использует city_id из профиля пользователя. Если город не задан и там, сервер вернёт VALIDATION_FAILED.
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
        maxLength: 512
      description: Непрозрачный подписанный указатель на следующую страницу.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 50
        default: 20
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 128
  responses:
    ValidationError:
      description: Ошибка валидации
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthenticated:
      description: Токен отсутствует, истёк или недействителен.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Ресурс не существует или недоступен пользователю
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Конфликт состояния ресурса
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Превышен ограничение частоты запросов
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: API пока не готов
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    EventSourceFieldMapping:
      type: object
      additionalProperties: false
      properties:
        path: {type: string}
        transform:
          type: string
          enum: ['', string, number, iso_datetime, unix_timestamp, strip_html]
        default: {type: string}
      required: [path]
    EventSourceDefaults:
      type: object
      properties:
        category: {type: string}
        timezone: {type: string}
        currency: {type: string}
        status: {type: string, enum: [published, sold_out, cancelled]}
      required: [category, timezone, currency, status]
    EventSourcePagination:
      type: object
      properties:
        mode: {type: string, enum: [none, page, offset]}
        page_param: {type: string}
        page_size_param: {type: string}
        page_size: {type: integer}
        offset_param: {type: string}
        limit_param: {type: string}
        limit: {type: integer}
      required: [mode]
    EventSourceInput:
      type: object
      properties:
        source_key: {type: string, description: 'Стабильный ключ вида generic:city-events'}
        name: {type: string}
        enabled: {type: boolean}
        endpoint_url: {type: string, format: uri}
        auth_type: {type: string, enum: [none, bearer, api_key_header, api_key_query]}
        auth_name: {type: string}
        auth_secret: {type: string, writeOnly: true}
        query_params: {type: object, additionalProperties: {type: string}}
        response_path: {type: string}
        pagination: {$ref: '#/components/schemas/EventSourcePagination'}
        mapping:
          type: object
          additionalProperties: false
          properties:
            external_id: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            title: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            description: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            subtitle: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            starts_at: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            ends_at: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            venue_name: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            venue_address: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            latitude: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            longitude: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            metro: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            image: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            ticket_url: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            ticket_available: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            price_from: {$ref: '#/components/schemas/EventSourceFieldMapping'}
            price_to: {$ref: '#/components/schemas/EventSourceFieldMapping'}
        defaults: {$ref: '#/components/schemas/EventSourceDefaults'}
        price_unit: {type: string, enum: [major, minor]}
      required: [source_key, name, enabled, endpoint_url, auth_type, response_path, pagination, mapping, defaults, price_unit]
    EventSource:
      allOf:
      - {$ref: '#/components/schemas/EventSourceInput'}
      - type: object
        properties:
          id: {type: string, format: uuid}
          secret_configured: {type: boolean}
          mapping_locked: {type: boolean}
          created_at: {type: string, format: date-time}
          updated_at: {type: string, format: date-time}
        required: [id, secret_configured, mapping_locked, created_at, updated_at]
    EventSourceResponse:
      type: object
      properties:
        source: {$ref: '#/components/schemas/EventSource'}
      required: [source]
    EventSourceTestInput:
      allOf:
      - {$ref: '#/components/schemas/EventSourceInput'}
      - type: object
        properties:
          source_id: {type: string, format: uuid}
    EventSourceDomainInput:
      type: object
      additionalProperties: false
      required: [hostname, purpose]
      properties:
        hostname: {type: string, description: 'Точное DNS-имя узла: без URL, IP-адреса, маски или регулярного выражения'}
        purpose: {type: string, enum: [image, ticket]}
    EventSourceAllowedDomain:
      type: object
      required: [id, source_id, hostname, purpose, created_at]
      properties:
        id: {type: string, format: uuid}
        source_id: {type: string, format: uuid}
        hostname: {type: string}
        purpose: {type: string, enum: [image, ticket]}
        created_at: {type: string, format: date-time}
    EventSourceResourceDomain:
      type: object
      required: [hostname, purpose, approved, count]
      properties:
        hostname: {type: string}
        purpose: {type: string, enum: [image, ticket]}
        approved: {type: boolean}
        count: {type: integer}
    EventSourcePreview:
      type: object
      properties:
        resource_domains: {type: array, items: {$ref: '#/components/schemas/EventSourceResourceDomain'}}
        connection_ok: {type: boolean}
        http_status: {type: integer, description: 'Код HTTP последней загруженной страницы предпросмотра'}
        received: {type: integer}
        valid: {type: integer}
        invalid: {type: integer}
        complete: {type: boolean}
        warnings:
          type: array
          items:
            type: object
            properties:
              code: {type: string}
              count: {type: integer}
            required: [code, count]
        errors:
          type: array
          items:
            type: object
            properties:
              code: {type: string}
              count: {type: integer}
            required: [code, count]
        preview:
          type: array
          items:
            type: object
            properties:
              title: {type: string}
              starts_at: {type: string, format: date-time}
              venue: {type: string}
              price_from_minor: {type: integer}
            required: [title, starts_at, venue]
      required: [connection_ok, http_status, received, valid, invalid, complete, errors, preview]
    HealthResponse:
      type: object
      required:
      - status
      - database
      - migrations
      properties:
        status:
          type: string
          enum:
          - ready
        database:
          type: string
          enum:
          - ready
        migrations:
          type: string
          enum:
          - current
    BootstrapRequest:
      type: object
      additionalProperties: false
      required:
      - init_data
      properties:
        init_data:
          type: string
          minLength: 1
          maxLength: 16384
        start_param:
          type:
          - string
          - 'null'
          maxLength: 256
          description: Необязательная подсказка от клиента. Сервер использует её, только если она совпадает с start_param из проверенных init_data.
    BootstrapResponse:
      type: object
      required:
      - access_token
      - token_type
      - expires_in
      - user
      - onboarding_state
      - preferences
      - daily_notifications_enabled
      - invite_context
      - shared_event_id
      properties:
        access_token:
          type: string
        token_type:
          type: string
          const: Bearer
        expires_in:
          type: integer
          minimum: 86400
          maximum: 86400
          example: 86400
        user:
          $ref: '#/components/schemas/User'
        onboarding_state:
          type: string
          enum:
          - new
          - complete
        preferences:
          anyOf:
          - $ref: '#/components/schemas/PreferencesResponse'
          - type: 'null'
        daily_notifications_enabled:
          type: boolean
        invite_context:
          anyOf:
          - $ref: '#/components/schemas/InviteContext'
          - type: 'null'
        shared_event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
    User:
      type: object
      required:
      - id
      - display_name
      - locale
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
        avatar_url:
          type:
          - string
          - 'null'
          format: uri
        city_id:
          type:
          - string
          - 'null'
          format: uuid
        locale:
          type: string
          example: ru-RU
    InviteContext:
      type: object
      required:
      - token
      - room_id
      - room_name
      - inviter
      - expires_at
      - already_joined
      - status
      properties:
        token:
          type: string
        room_id:
          type: string
          format: uuid
        room_name:
          type: string
        inviter:
          $ref: '#/components/schemas/PublicParticipant'
        expires_at:
          type: string
          format: date-time
        already_joined:
          type: boolean
        status:
          type: string
          enum:
          - joinable
          - full
          - expired
    RoomInvite:
      type: object
      required:
      - url
      - max_deep_link
      - expires_at
      properties:
        url:
          type: string
          format: uri
        max_deep_link:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
    GeoPoint:
      type: object
      additionalProperties: false
      required:
      - lat
      - lng
      properties:
        lat:
          type: number
          minimum: -90
          maximum: 90
          description: Передавайте вместе с lng; используется только для расчёта расстояния
        lng:
          type: number
          minimum: -180
          maximum: 180
          description: Передавайте вместе с lat; координаты не используются для профилирования вне подбора
    PreferencesRequest:
      type: object
      additionalProperties: false
      required:
      - city_id
      - interest_slugs
      - budget_max_minor
      - usual_day_types
      - usual_time_slots
      properties:
        city_id:
          type: string
          format: uuid
        interest_slugs:
          type: array
          minItems: 1
          maxItems: 11
          uniqueItems: true
          items:
            $ref: '#/components/schemas/CategorySlug'
        budget_max_minor:
          type: integer
          minimum: 0
          maximum: 100000000
        usual_day_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DayType'
        usual_time_slots:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/TimeSlot'
    PreferencesResponse:
      type: object
      required:
      - city_id
      - interest_slugs
      - budget_max_minor
      - usual_day_types
      - usual_time_slots
      - version
      - updated_at
      properties:
        city_id:
          type: string
          format: uuid
        interest_slugs:
          type: array
          items:
            $ref: '#/components/schemas/CategorySlug'
        budget_max_minor:
          type: integer
        usual_day_types:
          type: array
          items:
            $ref: '#/components/schemas/DayType'
        usual_time_slots:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlot'
        version:
          type: integer
          minimum: 1
        updated_at:
          type: string
          format: date-time
    NotificationPreferencesRequest:
      type: object
      additionalProperties: false
      required:
      - daily_notifications_enabled
      properties:
        daily_notifications_enabled:
          type: boolean
    NotificationPreferencesResponse:
      type: object
      additionalProperties: false
      required:
      - daily_notifications_enabled
      properties:
        daily_notifications_enabled:
          type: boolean
    CategorySlug:
      type: string
      enum:
      - concerts
      - cinema
      - theatre
      - standup
      - exhibitions
      - sports
      - food
      - parties
      - festivals
      - walks
      - other
    DayType:
      type: string
      enum:
      - weekday
      - weekend
    TimeSlot:
      type: string
      enum:
      - morning
      - day
      - evening
      - night
    VoteValue:
      type: string
      enum:
      - like
      - dislike
    EventCard:
      type: object
      required:
      - id
      - title
      - category_slug
      - starts_at
      - timezone
      - date_label
      - venue_name
      - price_from_minor
      - currency
      - price_label
      - image_url
      - saved
      - reasons
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        subtitle:
          type:
          - string
          - 'null'
        category_slug:
          $ref: '#/components/schemas/CategorySlug'
        starts_at:
          type: string
          format: date-time
        other_occurrences_count:
          type: integer
          minimum: 0
          description: Количество других подходящих будущих сеансов этого же мероприятия.
          example: 3
        timezone:
          type: string
          example: Europe/Moscow
        date_label:
          type: string
          example: 19 сентября, 19:30
        venue_name:
          type: string
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        distance_m:
          type:
          - integer
          - 'null'
        distance_label:
          type:
          - string
          - 'null'
        price_from_minor:
          type:
          - integer
          - 'null'
          minimum: 0
        currency:
          type: string
          enum:
          - RUB
        price_label:
          type: string
          example: от 1 800 ₽
        image_url:
          type:
          - string
          - 'null'
          format: uri-reference
        saved:
          type: boolean
        reasons:
          type: array
          maxItems: 3
          items:
            $ref: '#/components/schemas/RecommendationReason'
    RecommendationReason:
      type: object
      required:
      - code
      - text
      properties:
        code:
          type: string
          enum:
          - time_fit
          - budget_fit
          - shared_category
          - nearby
          - profile_affinity
          - popular
        text:
          type: string
    EventDetail:
      allOf:
      - $ref: '#/components/schemas/EventCard'
      - type: object
        required:
        - description
        - venue
        - images
        - ticket_available
        - status
        - data_provenance
        properties:
          description:
            type: string
          ends_at:
            type:
            - string
            - 'null'
            format: date-time
          venue:
            $ref: '#/components/schemas/Venue'
          images:
            type: array
            items:
              $ref: '#/components/schemas/EventImage'
          ticket_available:
            type: boolean
          status:
            type: string
            enum:
            - published
            - sold_out
            - cancelled
          age_rating:
            type:
            - string
            - 'null'
            enum:
            - 0+
            - 6+
            - 12+
            - 16+
            - 18+
            - unknown
            - null
          data_provenance:
            $ref: '#/components/schemas/DataProvenance'
    DataProvenance:
      type: object
      additionalProperties: false
      required:
      - source
      - is_demo
      properties:
        source:
          type: string
          maxLength: 64
          description: Источник записи каталога; значение demo обозначает подготовленные данные.
        source_updated_at:
          type:
          - string
          - 'null'
          format: date-time
        is_demo:
          type: boolean
          description: Значение true обозначает тестовые или подготовленные данные, а не реальную интеграцию.
    Venue:
      type: object
      required:
      - id
      - name
      - address
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        latitude:
          type:
          - number
          - 'null'
        longitude:
          type:
          - number
          - 'null'
        metro:
          type:
          - string
          - 'null'
        district:
          type:
          - string
          - 'null'
    EventImage:
      type: object
      required:
      - url
      - role
      properties:
        url:
          type: string
          format: uri-reference
        width:
          type:
          - integer
          - 'null'
        height:
          type:
          - integer
          - 'null'
        role:
          type: string
          enum:
          - card
          - hero
          - gallery
    HomeFeedResponse:
      type: object
      required:
      - feed_id
      - generated_at
      - sections
      properties:
        feed_id:
          type: string
          format: uuid
        generated_at:
          type: string
          format: date-time
        sections:
          type: array
          items:
            type: object
            required:
            - type
            - title
            - items
            properties:
              type:
                type: string
                enum:
                - hero
                - popular
                - for_you
                - nearby
              title:
                type: string
              items:
                type: array
                items:
                  $ref: '#/components/schemas/EventCard'
        active_room:
          anyOf:
          - $ref: '#/components/schemas/RoomSummary'
          - type: 'null'
        room_closed_notice:
          anyOf:
          - $ref: '#/components/schemas/RoomClosedNotice'
          - type: 'null'
    RoomClosedNotice:
      type: object
      required: [room_id, room_name, closed_by, closed_at]
      properties:
        room_id: {type: string, format: uuid}
        room_name: {type: string}
        closed_by: {$ref: '#/components/schemas/ClosedBy'}
        closed_at: {type: string, format: date-time}
    ClosedBy:
      type: object
      required: [id, display_name]
      properties:
        id: {type: string, format: uuid}
        display_name: {type: string}
    EventSearchResponse:
      type: object
      required:
      - items
      - applied_filters
      - total_estimate
      - next_cursor
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/EventCard'
        applied_filters:
          type: object
          additionalProperties: true
        total_estimate:
          type:
          - integer
          - 'null'
          minimum: 0
        next_cursor:
          type:
          - string
          - 'null'
    EventSearchCountResponse:
      type: object
      required: [total]
      properties:
        total:
          type: integer
          minimum: 0
    EventMapResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/EventMapPoint'
            - $ref: '#/components/schemas/EventMapCluster'
    EventMapPoint:
      type: object
      required: [kind, id, longitude, latitude, event]
      properties:
        kind: {type: string, const: event}
        id: {type: string, format: uuid}
        longitude: {type: number, format: double}
        latitude: {type: number, format: double}
        event: {$ref: '#/components/schemas/EventCard'}
    EventMapCluster:
      type: object
      required: [kind, id, longitude, latitude, west, south, east, north, count, members]
      properties:
        kind: {type: string, const: cluster}
        id: {type: string}
        longitude: {type: number, format: double}
        latitude: {type: number, format: double}
        west: {type: number, format: double}
        south: {type: number, format: double}
        east: {type: number, format: double}
        north: {type: number, format: double}
        count: {type: integer, minimum: 2}
        members:
          type: array
          items:
            $ref: '#/components/schemas/EventMapPoint'
    BehaviorBatchRequest:
      type: object
      additionalProperties: false
      required:
      - events
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/BehaviorEvent'
    BehaviorEvent:
      type: object
      additionalProperties: false
      required:
      - client_event_id
      - type
      - event_version
      - occurred_at
      properties:
        client_event_id:
          type: string
          minLength: 1
          maxLength: 128
        type:
          type: string
          enum:
          - impression
          - open
          - share
          - app_opened
          - session_started
          - onboarding_started
          - onboarding_completed
          - feed_opened
          - event_impression
          - event_opened
          - search_performed
          - filters_opened
          - filters_applied
          - filters_reset
          - map_opened
          - map_marker_opened
          - room_creation_started
          - room_creation_failed
          - room_opened
          - invite_opened
          - invite_shared
          - invite_share_failed
          - invite_link_opened
          - room_join_started
          - room_join_failed
          - swipe_session_started
          - event_swipe_impression
          - match_shown
          - invite_shared
          - match_opened
          - swipe_pool_exhausted
          - client_error
          - client_performance
          - ticket_redirect_failed
        event_version:
          type: integer
          enum: [1]
        occurred_at:
          type: string
          format: date-time
        event_id:
          type:
          - string
          - 'null'
          format: uuid
        room_id:
          type:
          - string
          - 'null'
          format: uuid
        session_id:
          type:
          - string
          - 'null'
          format: uuid
        platform:
          type:
          - string
          - 'null'
          enum: [max_ios, max_android, max_web, max_desktop, browser, unknown, null]
        app_version:
          type:
          - string
          - 'null'
          maxLength: 64
        entry_point:
          type:
          - string
          - 'null'
          enum: [feed, home, search, map, saved, room_invite, room, deep_link, unknown, bot, direct, shared_event, recommendation, null]
        properties:
          type: object
          description: Разрешённый список свойств события без персональных данных. Исходный текст поиска, точные координаты и секреты передавать нельзя.
          additionalProperties: true
        metadata:
          $ref: '#/components/schemas/BehaviorMetadata'
    BehaviorMetadata:
      type: object
      additionalProperties: false
      description: Разрешены только перечисленные метаданные. Персональные данные, исходные URL, initData MAX, координаты и произвольный текст передавать нельзя.
      properties:
        surface:
          type: string
          maxLength: 32
        position:
          type: integer
          minimum: 0
        request_id:
          type: string
          maxLength: 128
    BehaviorBatchResponse:
      type: object
      required:
      - accepted
      - duplicates
      - rejected
      properties:
        accepted:
          type: integer
          minimum: 0
        duplicates:
          type: integer
          minimum: 0
        rejected:
          type: integer
          minimum: 0
    SavedStateResponse:
      type: object
      required:
      - event_id
      - saved
      - saved_at
      properties:
        event_id:
          type: string
          format: uuid
        saved:
          type: boolean
        saved_at:
          type:
          - string
          - 'null'
          format: date-time
    SavedEventsResponse:
      type: object
      required:
      - items
      - next_cursor
      properties:
        items:
          type: array
          items:
            type: object
            required:
            - event
            properties:
              event:
                $ref: '#/components/schemas/EventCard'
              saved_at:
                type:
                - string
                - 'null'
                format: date-time
              match:
                anyOf:
                - $ref: '#/components/schemas/MatchSummary'
                - type: 'null'
        next_cursor:
          type:
          - string
          - 'null'
    TicketClickRequest:
      type: object
      additionalProperties: false
      required:
      - source
      properties:
        source:
          type: string
          enum:
          - event_detail
          - match
          - saved
          - feed
        room_id:
          type:
          - string
          - 'null'
          format: uuid
    TicketClickResponse:
      type: object
      required:
      - external_url
      properties:
        external_url:
          type: string
          format: uri-reference
          description: Для встроенных источников возвращается проверенная внешняя HTTPS-ссылка. Для настраиваемого источника возвращается путь /api/v1/events/{eventId}/ticket на этом же сайте; разрешение проверяется повторно при каждом переходе.
    CreateRoomRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - city_id
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 80
        city_id:
          type: string
          format: uuid
    CreateRoomResponse:
      type: object
      required:
      - room
      - invite
      properties:
        room:
          $ref: '#/components/schemas/RoomSnapshot'
        invite:
          type: object
          required:
          - token
          - url
          - max_deep_link
          - expires_at
          properties:
            token:
              type: string
              description: Возвращается только при создании
            url:
              type: string
              format: uri
            max_deep_link:
              type: string
              format: uri
            expires_at:
              type: string
              format: date-time
    RoomState:
      type: string
      enum:
      - collecting_intents
      - ranking
      - voting
      - matched
      - exhausted
      - closed
    RoomSummary:
      type: object
      required:
      - id
      - name
      - city_id
      - state
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        city_id:
          type: string
          format: uuid
        state:
          $ref: '#/components/schemas/RoomState'
    PublicParticipant:
      type: object
      required:
      - id
      - display_name
      - role
      - intent_ready
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
        avatar_url:
          type:
          - string
          - 'null'
          format: uri
        role:
          type: string
          enum:
          - creator
          - participant
        intent_ready:
          type: boolean
          description: Подтверждение условий подбора текущего раунда; сами условия не раскрываются.
    RoomSnapshot:
      type: object
      required:
      - id
      - name
      - city_id
      - state
      - round_no
      - version
      - participants
      - my_intent
      - pool
      - match
      - invite
      - allowed_actions
      - created_at
      - expires_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        city_id:
          type: string
          format: uuid
        state:
          $ref: '#/components/schemas/RoomState'
        round_no:
          type: integer
          minimum: 1
          maximum: 3
          description: Текущий раунд подтверждения условий и формирования пула событий.
        version:
          type: integer
          minimum: 1
        participants:
          type: array
          minItems: 1
          maxItems: 2
          items:
            $ref: '#/components/schemas/PublicParticipant'
        my_intent:
          anyOf:
          - $ref: '#/components/schemas/MyIntent'
          - type: 'null'
        pool:
          anyOf:
          - $ref: '#/components/schemas/PoolSummary'
          - type: 'null'
        match:
          anyOf:
          - $ref: '#/components/schemas/MatchSummary'
          - type: 'null'
        invite:
          anyOf:
          - $ref: '#/components/schemas/RoomInvite'
          - type: 'null'
          description: Доступно только создателю; для остальных участников значение null.
        allowed_actions:
          type: array
          items:
            type: string
            enum:
            - invite
            - join
            - edit_intent
            - wait
            - view_pool
            - vote
            - view_match
            - restart_with_new_intent
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          description: Приглашение и комната перестают действовать через 48 часов.
        closed_by:
          anyOf:
          - $ref: '#/components/schemas/ClosedBy'
          - type: 'null'
        closed_at:
          type: [string, 'null']
          format: date-time
    RoomIntentRequest:
      type: object
      additionalProperties: false
      required:
      - dates
      - day_types
      - time_slots
      - category_slugs
      - budget_max_minor
      - exclusion_slugs
      properties:
        dates:
          type: array
          minItems: 1
          maxItems: 14
          uniqueItems: true
          items:
            type: string
            format: date
        day_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DayType'
          description: Пустой массив означает любой день. Условия внутри массива объединяются по правилу «ИЛИ».
        time_slots:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/TimeSlot'
          description: Пустой массив означает любое время. Условия внутри массива объединяются по правилу «ИЛИ».
        category_slugs:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/CategorySlug'
        budget_max_minor:
          type: integer
          minimum: 0
          maximum: 100000000
        radius_m:
          type:
          - integer
          - 'null'
          minimum: 100
          maximum: 50000
          description: Значение null отключает фильтр расстояния. Если заданы координаты location, расстояние считается от них; иначе — от центра города.
        exclusion_slugs:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - nightclubs
            - very_loud
            - outdoor
            - far_from_metro
        location:
          anyOf:
          - $ref: '#/components/schemas/GeoPoint'
          - type: 'null'
          description: Если задан радиус, это поле задаёт точку отсчёта. Значение null вместе с радиусом означает центр города комнаты. Координаты не сохраняются.
            дольше необходимого ranking
        free_text:
          type:
          - string
          - 'null'
          maxLength: 300
    MyIntent:
      type: object
      additionalProperties: false
      required:
      - dates
      - day_types
      - time_slots
      - category_slugs
      - budget_max_minor
      - exclusion_slugs
      - version
      - round_no
      - submitted_at
      properties:
        dates:
          type: array
          minItems: 1
          maxItems: 14
          uniqueItems: true
          items:
            type: string
            format: date
        day_types:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DayType'
          description: Пустой массив означает любой день; значения объединяются OR
        time_slots:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/TimeSlot'
          description: Пустой массив означает любое время; значения объединяются OR
        category_slugs:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/CategorySlug'
        budget_max_minor:
          type: integer
          minimum: 0
          maximum: 100000000
        radius_m:
          type:
          - integer
          - 'null'
          minimum: 100
          maximum: 50000
          description: Значение null отключает фильтр расстояния. Если заданы координаты location, расстояние считается от них; иначе — от центра города комнаты.
        exclusion_slugs:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - nightclubs
            - very_loud
            - outdoor
            - far_from_metro
        location:
          anyOf:
          - $ref: '#/components/schemas/GeoPoint'
          - type: 'null'
          description: При заданном radius это поле задаёт точку отсчёта. Значение null вместе с радиусом означает центр города комнаты. Координаты не сохраняются дольше, чем это требуется для ранжирования.
        free_text:
          type:
          - string
          - 'null'
          maxLength: 300
        version:
          type: integer
          minimum: 1
        round_no:
          type: integer
          minimum: 1
          maximum: 3
        submitted_at:
          type: string
          format: date-time
    PoolSummary:
      type: object
      required:
      - version
      - round_no
      - state
      - total
      - is_small
      - voted_by_me
      - my_pool_finished
      - room_exhausted
      properties:
        version:
          type: integer
          minimum: 1
        round_no:
          type: integer
          minimum: 1
          maximum: 3
        state:
          type: string
          enum:
          - ranking
          - ready
          - exhausted
        total:
          type: integer
          minimum: 0
        voted_by_me:
          type: integer
          minimum: 0
        my_pool_finished:
          type: boolean
          description: Текущий участник проголосовал по всем доступным карточкам
        room_exhausted:
          type: boolean
          description: Оба участника просмотрели текущий пул без совпадения.
        retry_after_seconds:
          type:
          - integer
          - 'null'
          minimum: 1
        exhaustion_reasons:
          type: array
          description: Только агрегированные причины без чужих данных
          items:
            type: object
            required:
            - code
            - text
            properties:
              code:
                type: string
                enum:
                - budget
                - date
                - categories
                - radius
                - catalog_shortage
              text:
                type: string
        is_small:
          type: boolean
          description: Значение true означает, что в пуле доступно только одно или два события.
    RoomEventsResponse:
      type: object
      required:
      - room_id
      - pool_version
      - round_no
      - items
      - next_cursor
      - total
      properties:
        room_id:
          type: string
          format: uuid
        pool_version:
          type: integer
          minimum: 1
        round_no:
          type: integer
          minimum: 1
          maximum: 3
        items:
          type: array
          items:
            type: object
            required:
            - cursor
            - position
            - event
            properties:
              cursor:
                type: string
                description: Указатель следующей страницы; не передавайте его в запросе vote.
              position:
                type: integer
                minimum: 0
              event:
                $ref: '#/components/schemas/EventCard'
        next_cursor:
          type:
          - string
          - 'null'
        total:
          type: integer
          minimum: 0
    VoteRequest:
      type: object
      additionalProperties: false
      required:
      - pool_version
      - vote
      properties:
        pool_version:
          type: integer
          minimum: 1
        vote:
          $ref: '#/components/schemas/VoteValue'
    VoteResponse:
      type: object
      required:
      - accepted_vote
      - pool_version
      - my_pool_finished
      - room_exhausted
      - match
      properties:
        accepted_vote:
          $ref: '#/components/schemas/VoteValue'
        pool_version:
          type: integer
          minimum: 1
        my_pool_finished:
          type: boolean
        room_exhausted:
          type: boolean
        match:
          anyOf:
          - $ref: '#/components/schemas/Match'
          - type: 'null'
    MatchSummary:
      type: object
      required:
      - id
      - room_id
      - event_id
      - matched_at
      - participants
      properties:
        id:
          type: string
          format: uuid
        room_id:
          type: string
          format: uuid
        event_id:
          type: string
          format: uuid
        matched_at:
          type: string
          format: date-time
        participants:
          type: array
          minItems: 2
          maxItems: 2
          items:
            $ref: '#/components/schemas/PublicParticipant'
          description: Передаются только безопасные поля display_name, avatar и role. Идентификатор MAX и условия подбора не раскрываются.
    Match:
      type: object
      required:
      - id
      - matched_at
      - event
      - participants
      properties:
        id:
          type: string
          format: uuid
        matched_at:
          type: string
          format: date-time
        event:
          $ref: '#/components/schemas/EventCard'
        participants:
          type: array
          minItems: 2
          maxItems: 2
          items:
            $ref: '#/components/schemas/PublicParticipant'
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          - request_id
          properties:
            code:
              type: string
              enum:
              - UNAUTHENTICATED
              - TOKEN_EXPIRED
              - FORBIDDEN
              - VALIDATION_FAILED
              - NOT_FOUND
              - CONFLICT
              - IDEMPOTENCY_CONFLICT
              - ACTIVE_ROOM_EXISTS
              - RATE_LIMITED
              - ROOM_FULL
              - INVITE_EXPIRED
              - ROOM_EXPIRED
              - ROOM_NOT_READY
              - POOL_NOT_READY
              - POOL_EXHAUSTED
              - STALE_POOL_VERSION
              - INTENT_LOCKED
              - VOTE_ALREADY_CAST
              - ALREADY_MATCHED
              - ROUND_LIMIT_REACHED
              - EVENT_UNAVAILABLE
              - TICKETS_UNAVAILABLE
              - INTERNAL
            message:
              type: string
            request_id:
              type: string
            details:
              type: object
              additionalProperties: true
              properties:
                current_pool_version:
                  type: integer
                  minimum: 1
                my_pool_finished:
                  type: boolean
                room_exhausted:
                  type: boolean
                field:
                  type: string
                fields:
                  type: array
                  items:
                    type: object
                    required:
                    - field
                    - reason
                    properties:
                      field:
                        type: string
                      reason:
                        type: string
                active_room:
                  anyOf:
                  - $ref: '#/components/schemas/RoomSummary'
                  - type: 'null'
                match:
                  anyOf:
                  - $ref: '#/components/schemas/MatchSummary'
                  - type: 'null'
